
/* pseudo selector */

/* div:hover{
    background-color: red;
}

div:active{
    background-color: yellow;
} */

input:focus{
    background-color: green;
}

a:visited{
    background-color: red;
}

ul li:first-child{
    background-color: red;
}

ul li:last-child{
    background-color: yellow;
}

ul li:nth-child(4){
    background-color: aqua;
}

ul li:nth-child(even){
    background-color: blue;
}

p[id="para"]{
    background-color: #0000ff;
}

/* p::after{
    content: "hii";
    background-color: red;
}
p::before{
    content: "bye";
    background-color: red;

} */


div::selection{
    background-color: green;
}

span{
    background-color: darkred;
}

#imageAdding{
    width: 300px;
    height: 300px;
    border: 2px solid #0000ff;
    background-image: url("https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb&dl=pexels-pixabay-45201.jpg&fm=jpg");
    background-size: cover;
}

/* box medeling */

#boxModel{
    width: 100px;
    /* height: 100px; */
    border: 1px solid black;
   padding: 10px 20px 30px 40px;
   margin: 40px;
}

h1{
    background-color: red;
    display: inline;
    width: 100px;
}

span{
    background-color: blue;
    display: block;
    width: 100px;
}
b{
    background-color: darkgoldenrod;
    display: inline-block;
    /* width: 300px; */
}

#learnFlex{
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    /* display: flex; */
    /* flex-direction: column; */
}

.box{
    width: 50px;
    height: 30px;
    border: 1px solid black;
}